<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><%= link_to "New", new_message_path %></li>
        <li class="active"><%= link_to "Inbox", messages_path %></li>
        <li><a href="#">Sent</a></li>
        <li><a href="#">Trash</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h2 class="sub-header">Inbox</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>View</th>
              <th>From</th>
              <th>Title</th>
              <th>Urgent</th>
              <th>Read</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>

            <% @messages.each do |message|%>
              <tr>
                <td>
                  <%= link_to message_path(message.id) do %>
                    <i class="fa fa-comment" style="font-size: 24px"></i>
                  <% end %>
                </td>

                <td><%= message.user.email %></td>

                <td><%= message.title %></td>

                <td>
                  <% if message.urgent %>
                    <i class="fa fa-exclamation-circle" style="font-size: 24px"></i>
                  <% end %>
                </td>
                <td>
                  <% if message.read %>
                    <i class="fa fa-check-circle" style="font-size: 24px"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to message_path(message), method: :delete do %>
                    <i class="fa fa-trash-o" style="font-size: 24px"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
