<div class="container-fluid">

  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <% if user_signed_in? %>
          <%= render 'shared/morse_logo'%>
        <% end %>
      <li><%= link_to 'New', :new_conversation, id: 'nav-new', class:"text-center" %></li>
      <li><%= link_to "Inbox", '#', id: 'nav-inbox', class:"text-center" %></li>
      <li><%= link_to "Sent", '#', id: 'nav-sent', class:"text-center" %></li>
      <li><%= link_to "Trash", '#', id: 'nav-trash', class:"text-center" %></li>
    </ul>
  </div>

  <div id="inbox">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="panel panel-default">
            <!-- Default panel contents -->
          <div class="panel-heading">Inbox</div>
          <!-- Table -->
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Subject</th>
                  <th>Trash</th>
                </tr>
              </thead>
              <tbody>
                <%= render collection: mailbox.inbox, partial: 'conversation' %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="sent">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="panel panel-default">
            <!-- Default panel contents -->
          <div class="panel-heading">Sent</div>
          <!-- Table -->
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Subject</th>
                  <th>Trash</th>
                </tr>
              </thead>
              <tbody>
                <%= render collection: mailbox.sentbox, partial: 'conversation' %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="trash">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="panel panel-default">
            <!-- Default panel contents -->
          <div class="panel-heading">Trash</div>
          <!-- Table -->
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Subject</th>
                  <th>Untrash</th>
                </tr>
              </thead>
              <tbody>
                <%= render collection: mailbox.trash, partial: 'conversation' %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
