<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
  <div class="row text-center">
    <div>
      <%= render 'shared/morse_bot' %>
    </div>
  </div>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title text-center">Change your password</h1>
    </div>
    <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>
        <div class="form-group col-xs-10 col-xs-offset-1">
          <%= f.label :password, "New password" %>
          <%= f.password_field :password, class:"form-control", autofocus: true, autocomplete: "off" %>
        </div>
        <div class="form-group col-xs-10 col-xs-offset-1">
          <%= f.label :password_confirmation, "Confirm new password" %>
          <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "off" %>
        </div>
        <div class="form-group col-xs-10 col-xs-offset-1">
          <%= f.label :password_confirmation, "Confirm new password" %>
          <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "off" %>
        </div>
        <div class="form-group col-xs-10 col-xs-offset-1">
          <span><%= f.submit "Change my password" %></span>
          <%= render "devise/shared/links" %>
        </div>
        <% end %>
    </div>
  </div>
</div>
