<br>
<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
  <div class="row text-center">
    <div>
      <%= render 'shared/morse_bot' %>
    </div>
  </div>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title text-center">New Password</h1>
    </div>

    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group col-xs-10 col-xs-offset-1">
          <%= f.label :username%>
        </div>
        <div class="form-group col-xs-10 col-xs-offset-1">
          <%= f.text_field :username, class:"form-control", autofocus: true %>
        </div>
        <div class="form-group col-xs-10 col-xs-offset-1 text-center">
          <%= f.submit "Email Password", class: "btn btn-default" %>
        </div>
        <br>
        <div class="form-group col-xs-10 col-xs-offset-1 text-center">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
